<%- include('../partials/header') %>

<main>
  <div class="wrapper">
    <div class="container">
      <div class='row mb-50'>
        <h1 id='pageTitle'><%= title %></h1>
      </div>  
      <div class="row">
        <% courses.forEach((c) => { %>
          <div class="col-md-5">
            <div class="card mx-30 mb-5">
              <img src="<%= c.imageUrl %> " class="card-img-top" alt="" Secure>
              <div class="card-body">
                <h5 class="card-title text-nowrap">
                  <%= c.name %>
                </h5>
                <h6>
                  <%= c.city %>, <%= c.state %>
                </h6>
                <div class="buttons">
                  <a href="/courses/<%= c._id %>" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>
          </div>
        <% })%> 
      </div>
    </div>
  </div>  
</main>

<%- include('../partials/footer') %>