<%- include('../partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>/courses/mylist</h2>
    <% courses.forEach(course=> { %>
        <div class='card' style='width: 18rem;'>
          <img src="<%= course.imageUrl %>" class='card-img-top' alt="...">
          <div class='card-body'>
            <h5 class='card-title'><%= course.name %> </h5>
            <h6 class='card-title'><%= course.city %>, <%= course.state %></h6>
            <a href="/courses/<%= course._id %>" class="btn btn-primary">Details</a>
          </div>
        </div>
      <% }) %>
</main>

<%- include('../partials/footer') %>