<%- include('../partials/header') %>

<main>
    <h1 id='pageTitle'><%= title %></h1>
    <% courses.forEach(c=> { %>
        <div class='card' style='width: 18rem;'>
          <img src="<%= c.imageUrl %>" class='card-img-top' alt="...">
          <div class='card-body'>
            <h5 class='card-title'><%= c.name %> </h5>
            <h6 class='card-title'><%= c.city %>, <%= c.state %></h6>
            <a href="/courses/<%= c._id %>" class="btn btn-primary">Details</a>
          </div>
        </div>
      <% }) %>
</main>

<%- include('../partials/footer') %>