<%- include('../partials/header') %>

<main>
  <div class='wrapper'>
    <div class='container'>
      <div class='row mb-4'>
        <h1 id='pageTitle'><%= title %></h1>
      </div>
      <div class='row'>
        <div class='card mx-50' id='showCourseCard'>
          <div class='row'>
            <div class='col-md-7 my-2 justify-content-center'>
              <img src="<%= course.imageUrl %>" id='showCourseImage' alt="">
            </div>
            <div class='col-md-5 my-4'>
              <div class='row'>
                <p id='showCourseName'><%= course.name %></p>
              </div>
              <div class='row mb-3'>
                <p id='showCourseLoc'><%= course.city %>, <%= course.state %></p>
              </div>
              <div class='row'>
                <% let total = 0 %>
                <% course.reviews.forEach(r => { %>
                  <% total += r.rating %> 
                <% }) %>
                <p id='showCourseAvgRate'>Average User Rating: <%= (total / course.reviews.length).toFixed(2) %></p>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-7'>
              <% course.reviews.forEach(r => { %>
                <div>
                  <%= r.rating %> - 
                  <img width="20" id="avatar" src="<%= r.avatar %>" alt="">
                  <%= r.reviewer %>
                </div>
                <div><%= r.content %></div>
              <% }) %>

          </div>
        </div>
      </div>
    </div>
  </div>

      <a href="/courses/<%= course._id %>" class="btn btn-primary mb-3">Details</a>
      <% course.reviews.forEach(r => { %>
          <%= r.rating %> - 
          <img width="20" id="avatar" src="<%= r.avatar %>" alt="">
          <%= r.reviewer %>
        </p>
        <p><%= r.content %></p>
      <% }) %>
      <% if (!course.reviews.some(u => {return u.reviewer === user.name}) && course.playedBy.some(u => {return u.email === user.email})) { %>
        <form action="/courses/<%= courseId %>/createReview" method="POST">
          <div class="form-group">
            <textarea 
              class="form-control"
              name="content"
              style="width: 18rem;"
              id="exampleFormControlTextarea1"
              placeholder="Leave a Review"
              rows="3"
          ></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Rating</label>
            <select
              style="width: 18rem;"
              class="form-control"
              name="rating"
              id="exampleFormControlSelect1"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <input type="text" hidden name="reviewer" value="<%= user.name %>">
          <input type="text" hidden name="avatar" value="<%= user.avatar %>"> 
          <button class="btn btn-success">Add My Review</button>
        </form>
      <% } %>
    </div>
</main>

<%- include('../partials/footer') %>