<%- include('../partials/header') %>

<main>
  <div class='wrapper'>
    <div class='container'>
      <div class='row mb-4'>
        <h1 id='pageTitle'><%= title %></h1>
      </div>
      <div class='row'>
        <div class='col-md-1'></div>
        <div class='card' id='searchCourseCard'>
          <form action="/courses/find" method="POST">
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control" name="query" placeholder="Search Golf Courses by Name">
              <button type="submit" class="btn btn-warning">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class='row' id='searchResultsSection'>
        <% if (results) { %>
          <% results.forEach(course => { %>
            <div class='col-md-2 my-4'> </div>
            <div class="col-md-8 my-4">
              <div class="card mx-30 mb-5">
                <img src="<%= course.imageUrl %>" class="card-img-top" alt="" Secure>
                <div class="card-body">
                  <h5 class="card-title text-nowrap">
                    <%= course.name %>
                  </h5>
                  <h6>
                    <%= course.city %>, <%= course.state %>
                  </h6>
                  <div class="buttons">
                    <a href="/courses/<%= course._id %>" class="btn btn-primary">Details</a>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <h3 class='my-4' id='noResultsYet'>No Results Yet</h3>
        <% } %>
      </div>
    </div>    
  </div>
</main>
      
<%- include('../partials/footer') %>