<%- include('../partials/header') %>

<main>
  <div class='wrapper'>
    <div class='container'>
      <div class='row mb-4'>
        <h1 id='pageTitle'><%= title %></h1>
      </div>
      <div class='row'>
        <div class='card mx-50' id='showCourseCard'>
          <div class='row'>
            <div class='col-md-7 my-2 justify-content-center'>
              <img src="<%= course.imageUrl %>" id='showCourseImage' alt="">
            </div>
            <div class='col-md-5 my-2'>
              <div class='row'>
                <div id='showCourseName'><%= course.name %></div>
              </div>
              <div class='row mb-3 mb-4'>
                <div id='showCourseLoc'><%= course.city %>, <%= course.state %></div>
              </div>
              <div class='row'>
                <% let total = 0 %>
                <% course.reviews.forEach(r => { %>
                  <% total += r.rating %> 
                <% }) %>
                <div id='showCourseTag' class='mr-2 mb-2'>Average User Rating:</div>
                <div id='showCourseText'><%= (total / course.reviews.length).toFixed(2) %></div>
              </div>
              <div class='row'>
                <div id='showCourseTag' class='mr-2'>Public?:</div>
                <div id='showCourseText' class='mr-4 mb-2'><%= course.public ? 'Yes' : 'No'%></div>
                <div id='showCourseTag' class='mr-1'>Built:</div> 
                <div id='showCourseText'><%= course.yearBuilt %></div>
              </div>
              <div class='row mb-2'>
                <div id='showCourseTag' class='mr-2 mb-4'>Golf Magazine Rank:</div> 
                <div id='showCourseText'><%= course.usRank %></div>
              </div>
              <div class='row'>
                <div id='showCourseTag' class='mb-1'>Architects:</div>
              </div>
              <div class='row'>
                <div id='showCourseText' class='mb-4'><%= course.architects %></div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-7'>
              <div id='showCourseSummaryTag'>Summary:</div>
            </div>
            <div class='col-md-5'>
              <div id='showCoursePlayedByTag'>Played By:</div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-7'>
              <div id=showCourseSummaryText><%= course.summary %></div>
            </div>
            <div class='col-md-5'>
              <% playedBy.forEach (u => { %> 
                <div id='showCoursePlayedByText'><%= u.name %></div>
              <% }) %>
            </div>
          </div>
          <div class='d-flex justify-content-md-around my-4'>
              <!-- This code contains the functionality that checks whether a user has added a golf course to their 'My Courses' list. -->
            <% if (course.playedBy.some(u => {return u.email === user.email})) { %>
                <form action="/courses/<%= course._id %>/myPlayed?_method=DELETE" method="POST">
              <% } else { %>
                <form action="/courses/<%= course._id %>/myPlayed" method="POST">
              <% } %>
                <input type="text" hidden name="name" value="<%= course.name %>">
                <input type="text" hidden name="imageUrl" value="<%= course.imageUrl %> ">
                <input type="text" hidden name="city" value="<%= course.city %>">
                <input type="text" hidden name="state" value="<%= course.state %>">
                <input type="number" hidden name="usRank" value="<%= course.usRank %>">
                <input type="boolean" hidden name="public" value="<%= course.public %>">
                <input type="number" hidden name="yearBuilt" value="<%= course.yearBuilt %>">
                <input type="text" hidden name="architects" value="<%= course.architects %>">
                <input type="text" hidden name="summary" value="<%= course.summary %>">
                <button class="btn btn-success">
                  <%= course.playedBy.some(u => {return u.email === user.email}) ? "Remove from My Courses" : "Add to My Courses" %>
                </button>
              </form>
              <!-- This code is part of the user-centric functionality. -->
              <% if (course.createdBy.equals(user._id)) { %>
                <a href="/courses/<%= course._id %>/edit" class="btn btn-warning">Edit Details</a>
                <form action="/courses/<%= course._id %>?_method=DELETE" method='POST'>
                  <button type='delete' class='btn btn-danger'>Delete Course</button>
                </form>
              <% } %>
            <a href="/courses/<%= course._id %>/review" class="btn btn-primary">Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>