<%- include('../partials/header') %>

<main>
  <div class='wrapper'>
    <div class='container'>
      <div class='row mb-4'>
        <h1 id='pageTitle'><%= title %></h1>
      </div>
      <div class='row'>
        <div class='card mx-50' id='showCourseCard'>
          <div class='row'>
            <div class='col-md-7 my-2 justify-content-center'>
              <img src="<%= course.imageUrl %>" id='showCourseImage' alt="">
            </div>
            <div class='col-md-5 my-4'>
              <div class='row'>
                <p id='showCourseName'><%= course.name %></p>
              </div>
              <div class='row mb-3'>
                <p id='showCourseLoc'><%= course.city %>, <%= course.state %></p>
              </div>
              <div class='row'>
                <% let total = 0 %>
                <% course.reviews.forEach(r => { %>
                  <% total += r.rating %> 
                <% }) %>
                <p id='showCourseAvgRate'>Average User Rating: <%= (total / course.reviews.length).toFixed(2) %></p>
              </div>
              <div class='row'>
                <p id='showCoursePubBuilt'>Public?: <%= course.public ? 'Yes' : 'No'%> - Built: <%= course.yearBuilt %></p>
              </div>
              <div class='row mb-2'>
                <p id='showCourseRank'>Golf Magazine US Ranking: <%= course.usRank %></p>
              </div>
              <div class='row'>
                <div id='showCourseArch1'>Architects:</div>
              </div>
              <div class='row'>
                <div id='showCourseArch2'><%= course.architects %></div>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-7'>
              <p id='showCourseSummaryTag'>Summary:</p>
            </div>
            <div class='col-md-5'>
              <p id='showCoursePlayedByTag'>Played By:</p>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-7'>
              <p id=showCourseSummary><%= course.summary %></p>
            </div>
            <div class='col-md-5'>
              <% playedBy.forEach (u => { %> 
                <div id='showCoursePlayedBy'><%= u.name %></div>
              <% }) %>
            </div>
          </div>
          <div class='d-flex justify-content-md-around my-4'>
              <% if (course.playedBy.some(u => {return u.email === user.email})) { %>
                <form action="/courses/<%= course._id %>/myPlayed?_method=DELETE" method="POST">
              <% } else { %>
                <form action="/courses/<%= course._id %>/myPlayed" method="POST">
              <% } %>
                <input type="text" hidden name="name" value="<%= course.name %>">
                <input type="text" hidden name="imageUrl" value="<%= course.imageUrl %> ">
                <input type="text" hidden name="city" value="<%= course.city %>">
                <input type="text" hidden name="state" value="<%= course.state %>">
                <input type="number" hidden name="usRank" value="<%= course.usRank %>">
                <input type="boolean" hidden name="public" value="<%= course.public %>">
                <input type="number" hidden name="yearBuilt" value="<%= course.yearBuilt %>">
                <input type="text" hidden name="architects" value="<%= course.architects %>">
                <input type="text" hidden name="summary" value="<%= course.summary %>">
                <button class="btn btn-success">
                  <%= course.playedBy.some(u => {return u.email === user.email}) ? "Remove from My Courses" : "Add to My Courses" %>
                </button>
              </form>
            <a href="/courses/<%= course._id %>/edit" class="btn btn-warning">Edit Details</a>
            <form action="/courses/<%= course._id %>?_method=DELETE" method='POST'>
              <button type='delete' class='btn btn-danger'>Delete Course</button>
            </form>
            <a href="/courses/<%= course._id %>/review" class="btn btn-primary">Reviews</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>